body {
    background-color: #f5e3e7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
    text-shadow: 6px 6px 0px lightgray;
    font-style: italic;
    font-size: 70px;
    margin-bottom: 30px;
}

p {
    color: rosybrown;
    font-weight: bold;
    font-style: italic;
    position: relative;
    right: 170px;
    bottom: 15px;
}

.container {
    background: #f5e3e7;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 40px;
}

.meme-btn {
    color: rosybrown;
    background: white;
    margin-bottom: 3px;
    margin: 5px;
    border: 1px solid rosybrown;
    width: 200px;
    height: 40px;
    font-size: 20px;
}

#add-meme {
    color: rosybrown;
    font-weight: bold;
    background: white;
    border: 1px solid rosybrown;
}

#add-meme:hover, .meme-btn:hover {
    color: white;
    background: rosybrown;
    border: 2px solid rosybrown;
    cursor: pointer;
}

#meme-input {
    border: 1px solid rosybrown;
}

#meme-search {
    align-content: left;
    margin-left: -25px;
    color: rosybrown;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gif {
    height: 200px;
    width: 250px;
    margin: 20px;
    cursor: pointer;
}


  
  
